/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define SYM 1
#define FN 2
#define KB 3

#define ___ &trans
#define _ &kp

&lt {
    quick-tap-ms = <200>;
};

&mt {
    quick-tap-ms = <200>;
};

/ {
	behaviors {
		td_shift_caps: td_shift_caps {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp LSHFT>, <&kp CAPS>;
		};
		td_sym: td_sym {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&mo SYM>, <&tog SYM>;
		};
	};
        keymap {
                compatible = "zmk,keymap";

                default_layer {
			display-name = "Base";
                        bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬─────────────────┬─────────────────┬─────────────────╮
    &mt LALT TAB     _ Q              _ W              _ E              _ R              _ T                _ Y              _ U              _ I              _ O               _ P               _ BSPC
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼─────────────────┼─────────────────┼─────────────────┤
    &mt LCTRL ESC    _ A              _ S              _ D              _ F              _ G                _ H              _ J              _ K              _ L               _ SEMI            _ SQT
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼─────────────────┼─────────────────┼─────────────────┤
    &lt FN GRAVE     _ Z              _ X              _ C              _ V              _ B                _ N              _ M              _ COMMA          _ DOT             _ FSLH            &lt FN RET
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼─────────────────┼─────────────────┼─────────────────┤
                                                       &mo KB           _ LCMD           &td_shift_caps     _ SPC            &td_sym          _ RCMD
//╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────┴─────────────────┴─────────────────┴─────────────────╯
                        >;
                };

                symbol_layer {
			display-name = "Symbol";
                        bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬─────────────────┬─────────────────┬─────────────────╮
    ___              _ EXCL           _ AT             _ HASH           _ DLLR           _ PRCNT            _ CARET          _ AMPS           _ ASTRK          _ PIPE            _ BSLH            ___
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼─────────────────┼─────────────────┼─────────────────┤
    ___              _ MINUS          _ LBRC           _ LBKT           _ LPAR           _ UNDER            _ EQUAL          _ RPAR           _ RBKT           _ RBRC            _ PLUS            ___
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼─────────────────┼─────────────────┼─────────────────┤
    _ TILDE          _ N1             _ N2             _ N3             _ N4             _ N5               _ N6             _ N7             _ N8             _ N9              _ N0              ___
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼─────────────────┼─────────────────┼─────────────────┤
                                                       &none            ___              ___                ___              ___              ___
//╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────┴─────────────────┴─────────────────┴─────────────────╯
                        >;
                };

                function_layer {
			display-name = "Function";
                        bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬─────────────────┬─────────────────┬─────────────────╮
    _ F11            _ F1             _ F2             _ F3             _ F4             _ F5               _ F6             _ F7             _ F8             _ F9              _ F10             _ F12
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼─────────────────┼─────────────────┼─────────────────┤
    &none            &none            &none            &none            &none            &none              _ LEFT           _ DOWN           _ UP             _ RIGHT           &none             _ PSCRN
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼─────────────────┼─────────────────┼─────────────────┤
    &none            &none            &none            &none            &none            &none              _ HOME           _ PG_DN          _ PG_UP          _ END             &none             &none
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼─────────────────┼─────────────────┼─────────────────┤
                                                       &none            ___              ___                ___              &none            ___
//╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────┴─────────────────┴─────────────────┴─────────────────╯
                        >;
                };

                keyboard_layer {
			display-name = "Keyboard";
                        bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬─────────────────┬─────────────────┬─────────────────╮
    &none            &none            &none            &none            &none            &none              &none            &none            &none            &none             &none             &none
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼─────────────────┼─────────────────┼─────────────────┤
    &bt BT_CLR       &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4       &none            &none            &none            &none             &none             &none
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼─────────────────┼─────────────────┼─────────────────┤
    &none            &none            &none            &none            &none            &none              &none            &none            &none            &none             &none             &none
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼─────────────────┼─────────────────┼─────────────────┤
                                                       &none            &bootloader      &sys_reset         &sys_reset       &bootloader      &none
//╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────┴─────────────────┴─────────────────┴─────────────────╯
                        >;
                };

        };
};
