/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define CODE 1
#define SYS 2
#define BOARD 3

#define ___ &trans
#define _ &kp
#define XXX &none

&lt {
    quick-tap-ms = <300>;
    tapping-term-ms = <500>;
    flavor = "hold-preferred";
};

&mt {
    quick-tap-ms = <300>;
    tapping-term-ms = <500>;
    hold-while-undecided;
};

&sk {
    quick-release;
};


/ {
	#define CUSTOM_SHIFT(NAME, NORMAL, SHIFTED) \
		NAME: NAME { \
			compatible = "zmk,behavior-mod-morph"; \
			#binding-cells = <0>; \
			bindings = <_ NORMAL>, <_ SHIFTED>; \
			mods = <(MOD_LSFT|MOD_RSFT)>; \
		}
	behaviors {
		CUSTOM_SHIFT(colons, COLON, SEMICOLON);
		CUSTOM_SHIFT(quotes, DOUBLE_QUOTES, SINGLE_QUOTE);
		CUSTOM_SHIFT(dotcom, DOT, COMMA);
		CUSTOM_SHIFT(space_under, SPACE, UNDERSCORE);
		CUSTOM_SHIFT(enter_tab, ENTER, TAB);
	};

	#define MACRO(NAME, BINDINGS) \
		NAME: NAME { \
			compatible = "zmk,behavior-macro"; \
			#binding-cells = <0>; \
			bindings = <BINDINGS>; \
		}
	macros {
		MACRO(parens, _ LPAR _ RPAR);
		MACRO(brackets, _ LEFT_BRACKET _ RIGHT_BRACKET);
		MACRO(braces, _ LEFT_BRACE _ RIGHT_BRACE);
		MACRO(fill_parens, _ LPAR _ RPAR _ LEFT);
		MACRO(fill_brackets, _ LEFT_BRACKET _ RIGHT_BRACKET _ LEFT);
		MACRO(fill_braces, _ LEFT_BRACE _ RIGHT_BRACE _ LEFT);
	};

	#define COMBO(NAME, BINDINGS, KEYPOS) \
		combo_##NAME { \
			timeout-ms = <35>; \
			require-prior-idle-ms = <200>; \
			bindings = <BINDINGS>; \
			key-positions = <KEYPOS>; \
		}
	#define FCOMBO(NAME, BINDINGS, KEYPOS) \
		combo_##NAME { \
			timeout-ms = <20>; \
			require-prior-idle-ms = <200>; \
			bindings = <BINDINGS>; \
			key-positions = <KEYPOS>; \
		}
	/*╭────────────────────────┬────────────────────────╮
	  │  0   1   2   3   4   5 │  6   7   8   9  10  11 │
	  │ 12  13  14  15  16  17 │ 18  19  20  21  22  23 │
	  │ 24  25  26  27  28  29 │ 30  31  32  33  34  35 │
	  ╰───────────╮ 36  37  38 │ 39  40  41 ╭───────────╯
		      ╰────────────┴────────────╯*/
	combos {
		compatible = "zmk,combos";

		COMBO(lparen, _ LPAR, 31 32);
		FCOMBO(rparen, _ RPAR, 32 33);
		COMBO(parens, &parens, 31 33);
		COMBO(fill_parens, &fill_parens, 31 32 33);
		COMBO(lbracket, _ LEFT_BRACKET, 19 20);
		FCOMBO(rbracket, _ RIGHT_BRACKET, 20 21);
		COMBO(brackets, &brackets, 19 21);
		COMBO(fill_brackets, &fill_brackets, 19 20 21);
		COMBO(lbrace, _ LEFT_BRACE, 7 8);
		FCOMBO(rbrace, _ RIGHT_BRACE, 8 9);
		COMBO(braces, &braces, 7 9);
		COMBO(fill_braces, &fill_braces, 7 8 9);

		COMBO(cut, _ LG(X), 25 26);
		COMBO(copy, _ LG(C), 26 27);
		COMBO(paste, _ LG(V), 27 28);
		COMBO(find, _ LG(F), 3 16);
		COMBO(undo, _ LG(Z), 14 25);
		COMBO(select_all, _ LG(A), 2 13);
		COMBO(close_tab, _ LG(W), 3 17);
	};

        keymap {
                compatible = "zmk,keymap";
                default_layer {
			display-name = "Base";
                        bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬─────────────────╮
    _ GRAVE          _ V              _ L              _ H              _ K              _ Q                _ J              _ F              _ O              _ U              _ SLASH          XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    _ ESC            _ S              _ R              _ N              _ T              _ W                _ Y              _ C              _ A              _ E              _ I              _ BACKSPACE
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    XXX              _ Z              _ X              _ M              _ D              _ B                _ P              _ G              &colons          &dotcom          &quotes          XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
                                                       &mo SYS          &sl CODE         &sk LSHFT          &space_under     &enter_tab       XXX
//╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴─────────────────╯
                        >;
                };

                code_layer {
			display-name = "Code";
                        bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬─────────────────╮
    ___              _ MINUS          _ PLUS           _ EQUAL          _ LESS_THAN      _ GREATER_THAN     _ LEFT           _ DOWN           _ UP             _ RIGHT          _ BACKSLASH      ___
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    ___              _ N7             _ N5             _ N1             _ N3             _ N9               _ N8             _ N2             _ N0             _ N4             _ N6             ___
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    ___              _ EXCLAMATION    _ AT             _ HASH           _ DOLLAR         _ PERCENT          _ CARET          _ AMPERSAND      _ ASTERISK       ___              _ PIPE           ___
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
                                                       XXX              ___              ___                ___              ___              XXX
//╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴─────────────────╯
                        >;
                };

                system_layer {
			display-name = "System";
                        bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬─────────────────╮
    &mo BOARD        XXX              XXX              XXX              XXX              XXX                _ HOME           _ PAGE_DOWN      _ PAGE_UP        _ END            XXX              XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    ___              XXX              &sk LALT         &sk LCTRL        &sk LGUI         _ F11              _ F1             _ F2             _ F3             _ F4             _ F5             XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    XXX              XXX              XXX              XXX              XXX              _ F12              _ F6             _ F7             _ F8             _ F9             _ F10            XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
                                                       ___              XXX              ___                XXX              XXX              XXX
//╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴─────────────────╯
                        >;
                };

                board_layer {
			display-name = "Board";
                        bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬─────────────────╮
    XXX              XXX              XXX              XXX              XXX              XXX                XXX              XXX              XXX              XXX              XXX              &bt BT_CLR
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    XXX              &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4       XXX              XXX              XXX              XXX              XXX              XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    XXX              XXX              XXX              XXX              XXX              XXX                XXX              XXX              XXX              XXX              XXX              XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
                                                       XXX              &bootloader      &sys_reset         &sys_reset       &bootloader      XXX
//╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴─────────────────╯
                        >;
                };

        };
};
