/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define CODE 1
#define NAV 2
#define SYS 3

#define ___ &trans
#define _ &kp
#define XXX &none

&lt {
    quick-tap-ms = <300>;
    tapping-term-ms = <500>;
    flavor = "hold-preferred";
};

&mt {
    quick-tap-ms = <300>;
    tapping-term-ms = <500>;
    hold-while-undecided;
};

&sk {
    quick-release;
};


/ {
	behaviors {
		deletes: deletes {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp BACKSPACE>, <&kp DELETE>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		colons: colons {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp COLON>, <&kp SEMICOLON>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		quotes: quotes {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp DOUBLE_QUOTES>, <&kp SINGLE_QUOTE>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		slashes: slashes {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp SLASH>, <&kp BACKSLASH>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		spaces: spaces {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp SPACE>, <&kp TAB>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		comma_tilde: comma_tilde {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp COMMA>, <&kp TILDE>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		dot_pipe: dot_pipe {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp DOT>, <&kp PIPE>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
	};
        keymap {
                compatible = "zmk,keymap";
                default_layer {
			display-name = "Base";
                        bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬─────────────────╮
    &sk LALT         _ Q              _ W              _ E              _ R              _ T                _ Y              _ U              _ I              _ O              _ P              &deletes
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    &mt LCMD ESC     _ A              _ S              _ D              _ F              _ G                _ H              _ J              _ K              _ L              &colons          &quotes
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    XXX              _ Z              _ X              _ C              _ V              _ B                _ N              _ M              &comma_tilde     &dot_pipe        _ SLASH          XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
                                                       &sl NAV          &sl CODE          &sk LSHFT         &spaces          &mt LCTRL ENTER  _ UNDERSCORE
//╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴─────────────────╯
                        >;
                };

                code_layer {
			display-name = "Code";
                        bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬─────────────────╮
    _ TAB            _ EXCLAMATION    _ AT             _ HASH           _ DOLLAR         _ PERCENT          _ CARET          _ AMPERSAND      _ ASTERISK       _ LPAR           _ RPAR           ___
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    ___              _ MINUS          _ PLUS           _ EQUAL          _ BACKSLASH      _ LESS_THAN        _ GREATER_THAN   _ LEFT_BRACE     _ RIGHT_BRACE    _ LEFT_BRACKET   _ RIGHT_BRACKET  ___
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    XXX              _ N1             _ N2             _ N3             _ N4             _ N5               _ N6             _ N7             _ N8             _ N9             _ N0             XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
                                                       XXX              ___              XXX                ___              ___              _ GRAVE
//╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴─────────────────╯
                        >;
                };

                navigation_layer {
			display-name = "Navigation";
                        bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬─────────────────╮
    &mo SYS          _ F1             _ F2             _ F3             _ F4             _ F5               _ F6             _ F7             _ F8             _ F9             _ F10            XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    ___              &sk LCMD         &sk LALT         XXX              XXX              XXX                _ LEFT           _ DOWN           _ UP             _ RIGHT          XXX              _ PRINTSCREEN
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    XXX              XXX              XXX              _ F11            _ F12            XXX                _ HOME           _ PAGE_DOWN      _ PAGE_UP        _ END            XXX              XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
                                                       ___              XXX              XXX                XXX              XXX              XXX
//╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴─────────────────╯
                        >;
                };

                system_layer {
			display-name = "System";
                        bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬─────────────────╮
    XXX              XXX              XXX              XXX              XXX              XXX                XXX              XXX              XXX              XXX              XXX              &bt BT_CLR
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    XXX              &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4       XXX              XXX              XXX              XXX              XXX              XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
    XXX              XXX              XXX              XXX              XXX              XXX                XXX              XXX              XXX              XXX              XXX              XXX
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────────┤
                                                       XXX              &bootloader      &sys_reset         &sys_reset       &bootloader      XXX
//╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴─────────────────╯
                        >;
                };

        };
};

